client/cpf/rest-docs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Feeds" type="ActivityFeeds"/>
  <xs:element name="Alerts" type="Alerts"/>
  <xs:element name="AlertItem" type="AlertItem"/>
  <xs:element name="atomic" type="atomic"/>
  <xs:element name="ClinicListItem" type="ClinicListItem"/>
  <xs:element name="Document" type="Document"/>
  <xs:element name="entry" type="entry"/>
  <xs:element name="Episode" type="Episode"/>
  <xs:element name="extId" type="extId"/>
  <xs:element name="image" type="image"/>
  <xs:element name="results" type="result"/>
  <xs:element name="order" type="order"/>
  <xs:element name="results" type="paginatedListDTO"/>
  <xs:element name="Patient" type="Patient"/>
  <xs:element name="PatientInfoField" type="PatientInfoField"/>
  <xs:element name="PatientListItem" type="PatientListItem"/>
  <xs:element name="report" type="report"/>
  <xs:element name="results" type="results"/>
  <xs:element name="Section" type="Section"/>
  <xs:element name="UnitListItem" type="UnitListItem"/>
  <xs:element name="WardListItem" type="WardListItem"/>
  <xs:complexType name="item_ident">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="status">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
      <xs:element name="order_control" type="item_ident" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityFeeds">
    <xs:sequence>
      <xs:element name="Urno" type="xs:string" minOccurs="0"/>
      <xs:element name="PatientNs" type="xs:string" minOccurs="0"/>
      <xs:element name="ElectronicAlerts" type="result" minOccurs="0"/>
      <xs:element name="ScannedAlerts" type="result" minOccurs="0"/>
      <xs:element name="Documents" type="result" minOccurs="0"/>
      <xs:element name="results" type="result" minOccurs="0"/>
      <xs:element name="Episodes" type="result" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Alerts">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="Urno" type="xs:string" minOccurs="0"/>
          <xs:element name="PatientNs" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentId" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentNS" type="xs:string" minOccurs="0"/>
          <xs:element name="ElectronicAlerts" type="AlertItem" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ScannedAlerts" type="Document" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AlertItem">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="AlertNs" type="xs:string" minOccurs="0"/>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="Type" type="xs:string" minOccurs="0"/>
          <xs:element name="Comment" type="xs:string" minOccurs="0"/>
          <xs:element name="IdentificationDate" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="atomic">
    <xs:sequence>
      <xs:element name="valueTypeID" type="xs:string" minOccurs="0"/>
      <xs:element name="valueTypeText" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
      <xs:element name="units" type="xs:string" minOccurs="0"/>
      <xs:element name="referenceRange" type="xs:string" minOccurs="0"/>
      <xs:element name="abnormalFLagText" type="xs:string" minOccurs="0"/>
      <xs:element name="natureOfAbnormalTest" type="xs:string" minOccurs="0"/>
      <xs:element name="statusText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClinicListItem">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="Domain" type="xs:string" minOccurs="0"/>
          <xs:element name="Campus" type="xs:string" minOccurs="0"/>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="ListId" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="copiesto">
    <xs:sequence>
      <xs:element name="doctor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="docTypeSpecificDTO"/>
  <xs:complexType name="Document">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="MasterID" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentCode" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentDesc" type="xs:string" minOccurs="0"/>
          <xs:element name="Section" type="xs:string" minOccurs="0"/>
          <xs:element name="Episode" type="xs:string" minOccurs="0"/>
          <xs:element name="MimeType" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentDate" type="xs:string" minOccurs="0"/>
          <xs:element name="PageNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="State" type="xs:string" minOccurs="0"/>
          <xs:element name="Urno" type="xs:string" minOccurs="0"/>
          <xs:element name="PatientNs" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentSource" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentTime" type="xs:string" minOccurs="0"/>
          <xs:element name="ScannedDate" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="DocTypeSpecific" type="docTypeSpecificDTO" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="entry">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Episode">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="intId" type="xs:string" minOccurs="0"/>
          <xs:element name="extId" type="xs:string" minOccurs="0"/>
          <xs:element name="extNS" type="xs:string" minOccurs="0"/>
          <xs:element name="patientURNO" type="xs:string" minOccurs="0"/>
          <xs:element name="ward_code" type="xs:string" minOccurs="0"/>
          <xs:element name="service_type" type="xs:string" minOccurs="0"/>
          <xs:element name="care_type" type="xs:string" minOccurs="0"/>
          <xs:element name="EpisodeId" type="xs:string" minOccurs="0"/>
          <xs:element name="EpisodeNs" type="xs:string" minOccurs="0"/>
          <xs:element name="Type" type="xs:string" minOccurs="0"/>
          <xs:element name="State" type="xs:string" minOccurs="0"/>
          <xs:element name="Start" type="xs:string" minOccurs="0"/>
          <xs:element name="End" type="xs:string" minOccurs="0"/>
          <xs:element name="Campus" type="xs:string" minOccurs="0"/>
          <xs:element name="WardCode" type="xs:string" minOccurs="0"/>
          <xs:element name="WardDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="UnitCode" type="xs:string" minOccurs="0"/>
          <xs:element name="UnitDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="BedCode" type="xs:string" minOccurs="0"/>
          <xs:element name="BedDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="ServiceType" type="xs:string" minOccurs="0"/>
          <xs:element name="CareType" type="xs:string" minOccurs="0"/>
          <xs:element name="DoctorId" type="xs:string" minOccurs="0"/>
          <xs:element name="DoctorFamily" type="xs:string" minOccurs="0"/>
          <xs:element name="doctorGiven" type="xs:string" minOccurs="0"/>
          <xs:element name="DRG" type="xs:string" minOccurs="0"/>
          <xs:element name="LOS" type="xs:string" minOccurs="0"/>
          <xs:element name="NoOfDocuments" type="xs:string" minOccurs="0"/>
          <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
          <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
          <xs:element name="FinancialClass" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="extId">
    <xs:sequence>
      <xs:element name="extIdVal" type="xs:string" minOccurs="0"/>
      <xs:element name="extNsVal" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="image">
    <xs:sequence>
      <xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="ext" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element name="result" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="total" type="xs:int" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="status" minOccurs="0"/>
      <xs:element name="enteringUser" type="xs:string" minOccurs="0"/>
      <xs:element name="actionedUser" type="xs:string" minOccurs="0"/>
      <xs:element name="organisation" type="xs:string" minOccurs="0"/>
      <xs:element name="doctor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paginatedListDTO">
    <xs:complexContent>
      <xs:extension base="result">
        <xs:sequence>
          <xs:element name="start" type="xs:int" minOccurs="1"/>
          <xs:element name="size" type="xs:int" minOccurs="1"/>
          <xs:element name="sort" type="xs:string" minOccurs="0"/>
          <xs:element name="order" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="patientComponentDTO">
    <xs:sequence>
      <xs:element name="patientIdNs" type="xs:string" minOccurs="0"/>
      <xs:element name="patientSrc" type="xs:string" minOccurs="0"/>
      <xs:element name="up" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element name="extIds" type="extId" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="patientMasterId" type="xs:string" minOccurs="0"/>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="otherNames" type="xs:string" minOccurs="0"/>
      <xs:element name="dob" type="xs:string" minOccurs="0"/>
      <xs:element name="dod" type="xs:string" minOccurs="0"/>
      <xs:element name="sex" type="xs:string" minOccurs="0"/>
      <xs:element name="addr1" type="xs:string" minOccurs="0"/>
      <xs:element name="addr2" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="postcode" type="xs:string" minOccurs="0"/>
      <xs:element name="infoFields" type="PatientInfoField" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatientInfoField">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatientListItem">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="ListId" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="IsEpisodic" type="xs:boolean" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="report">
    <xs:sequence>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="request">
    <xs:sequence>
      <xs:element name="requestId" type="xs:string" minOccurs="0"/>
      <xs:element name="requestType" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="requestStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="requestDate" type="xs:string" minOccurs="0"/>
      <xs:element name="obsStart" type="xs:string" minOccurs="0"/>
      <xs:element name="obsStop" type="xs:string" minOccurs="0"/>
      <xs:element name="specimenRec" type="xs:string" minOccurs="0"/>
      <xs:element name="clinicalInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="results">
    <xs:sequence>
      <xs:element name="report" type="report" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="atomic" type="atomic" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="order" type="order" minOccurs="0"/>
      <xs:element name="request" type="request" minOccurs="0"/>
      <xs:element name="copies" type="copiesto" minOccurs="0"/>
      <xs:element name="image" type="image" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="episodal" type="xs:boolean" minOccurs="1"/>
      <xs:element name="diagnostic" type="xs:boolean" minOccurs="1"/>
      <xs:element name="EpisodeType" type="xs:string" minOccurs="0"/>
      <xs:element name="rgbColor" type="xs:string" minOccurs="0"/>
      <xs:element name="DocCount" type="xs:int" minOccurs="1"/>
      <xs:element name="EpisodeCount" type="xs:int" minOccurs="1"/>
      <xs:element name="lastModifiedTimestamp" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="UnitListItem">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="Domain" type="xs:string" minOccurs="0"/>
          <xs:element name="Campus" type="xs:string" minOccurs="0"/>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="ListId" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WardListItem">
    <xs:complexContent>
      <xs:extension base="patientComponentDTO">
        <xs:sequence>
          <xs:element name="Domain" type="xs:string" minOccurs="0"/>
          <xs:element name="Campus" type="xs:string" minOccurs="0"/>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="ListId" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
